{
  "global": {
    "audit": "enabled"
  },
  "issues": [
    {
      "id": "G204",
      "severity": "LOW",
      "confidence": "LOW",
      "comment": "Audit use of command execution - Safe in our controlled environment"
    },
    {
      "id": "G107",
      "severity": "LOW",
      "confidence": "LOW",
      "comment": "Url provided to HTTP request - Safe with our validation"
    },
    {
      "id": "G304",
      "severity": "LOW",
      "confidence": "LOW",
      "comment": "File access via variable - Not relevant for our use case"
    }
  ],
  "exclude-generated": true,
  "exclude-dir": [
    ".git",
    "vendor"
  ]
}